[MASTER]
max-line-length=88
output-format=colorized
score=no
reports=no
disable=
    missing-function-docstring,
    missing-module-docstring,
    parse-error

# Ignore long lines containing URLs or pylint or mypy directives.
ignore-long-lines=^(.*#\w*pylint: disable.*|.*# type: ignore.*|\s*(# )?<?https?://\S+>?)$

